@charset "utf-8";
/* CSS Document */

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
body {
	background-color: #02275a;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 30px;
	margin-bottom: 0px;
}
img{
	border:0px;
}
#pagina{
	width:1024px;
	height:768px;
	margin-left:auto;
	margin-right:auto;
}
#zona_cabezal{
	width:1024px;
	height:119px;
	margin-left:auto;
	margin-right:auto;
	float:none;
	border-bottom:solid;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color: #FFFFFF;
}
h1{
	font-size:30px;
	float:left;
	color: #f3c65a;
	margin: 37px 0 0 29px;
}
h1 strong{
	color:#087c93;
}
h2{
	font-size:18px;
	margin-bottom:1px;
}
td{
	font-size:14px;
	font-weight:bold;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	text-decoration:none;
	color:#FFFFFF;
}
a:hover {
	text-decoration: none;
	color:#f3c65a;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
}
#menu{
	margin-top:23px;
	height:18px;
	padding-left:30px;
	text-align:left;
	font-size:18px;
	float:left;
}
#menu a{
	margin-right:10px;
}
.img_cabezal{
	width:226px;
	height:119px;
	float:left;
}
#pie_pagina{
	margin-top:30px;
	width:1024px;
	height:90px;
	border-top:solid;
	border-top-style:solid;
	border-top-width:thin;
	border-top-color: #FFFFFF;
	text-align:center;
	padding-top:10px;
}
#pie_pagina a{
	margin-right:3px;
}
p{
	width:991px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
}
p strong{
	font-style:italic;
	font-weight:normal;
}
em{
	font-style:normal;
	font-weight:bold;
	color:#F3C65A;
}
.letra_cursiva{
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
.boton_selec{
	color: #f3c65a;
}
.boton_selec:visited{
	color: #f3c65a;
}
#fixture_menu{
	height:496px;
}
#fixture_menu_usuario{
	height:647px;
}
#grupos_menu{
	height:405px;
	margin-left:15px;
	margin-top:18px;
}
.grupo{
	margin-left:2px;
}
.fixture{
	float:left;
	width:482px;
	padding-top:5px;
	padding-left:14px;
}
.fixture_finales{
	float:right;
	width:506px;
	padding-top:8px;
}
.resultado{
	color:#f3c65a;
}
#actualizar{
	margin-top:20px;
	margin-left:15px;
}
.frm_actualizar{
	margin-left:5px;
}
#log_in{
	width:300px;
	margin-top:18px;
	margin-left:auto;
	margin-right:auto;
}
.menu_usuario{
	border-top-style:solid;
	border-top-color:#FFFFFF;
	border-top-width:thin;
	padding-top:10px;
}
#sign_in{
	width:400px;
	margin-top:18px;
	margin-left:auto;
	margin-right:auto;
}
.tamano_resultado{
	width: 15px;
	text-align:center;
}
.btn_resultados{
	margin-top:30px;
	margin-right:185px;
}
.titulo_resultados{
	text-align:center;
	color: #f3c65a;
}
.fixture_resultados{
	float:left;
	width:407px;
	padding-top:0px;
	padding-left:14px;
}
.fixture_finales_resultados{
	float:left;
	width:550px;
	padding-top:0px;
	padding-left:18px;
}
.err_msg{
	border:1px solid #FF0000;
	color:#FF0000;
	padding:10px 10px 10px 10px;
	font-weight:bold;
	background-color:#FADCDC;
}
.puntos{
	color:#F3C65A;
	font-size:24px;
}
.small_menu{
	font-size:12px;
}
.small_res{
	font-size:12px;
	padding-top:53px;
	padding-left:846px;
}
